body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1892px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:975px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:975px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:480px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:936px;
  width:300px;
  height:38px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:41px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:207px;
  width:298px;
  height:41px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:946px;
  width:233px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:947px;
  width:5px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:213px;
  width:110px;
  height:35px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(72, 190, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1731px;
  top:79px;
  width:153px;
  height:38px;
  font-size:15px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#3300FF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:886px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#3300FF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:936px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:37px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:69px;
  height:8px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-43px;
  width:20px;
  height:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#3300FF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:81px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#3300FF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:98px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:205px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:20px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
